<!-- prettier-ignore -->
<ng-container>
  @if (userDetails()) { 
    @switch (userDetails()?.status) { 
      @case ('access-provided') {
        <ng-container [ngTemplateOutlet]="mainPage"></ng-container>
      } 
      @case ('waiting-for-access') {
        <ng-container [ngTemplateOutlet]="waitingForAccessRef"></ng-container>
      } 
      @case ('waiting-for-registration') {
        <ng-container [ngTemplateOutlet]="waitingForRegistrationRef"></ng-container>
      } 
    } 
  } 
  @else {
    <ng-container [ngTemplateOutlet]="loginPageRef"></ng-container>
  }
</ng-container>

<!-- prettier-ignore -->
<ng-template #mainPage>
  <mat-drawer-container autosize class="border shadow" style="background-color: #fef1f4" [hasBackdrop]="!fixedSideMenu" >
    <mat-drawer #drawer class="border shadow-sm rounded-0" [opened]="fixedSideMenu" [style.marginTop.px]="fixedSideMenu ? 65 : 0" mode="over" style="width: 220px" >
      <button mat-icon-button class="close-button" (click)="drawer.toggle()"> <mat-icon>close</mat-icon> </button>
      <ul class="list-group rounded-0">
        <li matRipple (click)="isDashboard.set(true)" role="button" [class.active]="isDashboard()" class="list-group-item rounded-0" > Dashboard </li>
        @for(page of pages(); track page.id){
          <li matRipple (click)="isDashboard.set(false);activePage.set(page)" role="button" [class.active]="!isDashboard() && activePage()?.id === page.id" class="list-group-item rounded-0" > {{ page.name }} </li>
        }
      </ul>
    </mat-drawer>

    <mat-toolbar style="background: #ffd9e1">
      <button mat-icon-button class="open-button" (click)="drawer.toggle()"> <mat-icon>menu</mat-icon> </button>
      <h6 class="fs-6"> 
        Dwarakamai Vizag / 
        @if(isDashboard()){
          Dashboard
        }@else {
          {{ activePage()?.name }} 
        }
      </h6>
      <div class="ms-auto">
      </div>
      @if(userDetails()){
        <button mat-icon-button class="open-button" (click)="logout()"> <mat-icon>logout</mat-icon> </button>
      }
      @else {
        <button mat-icon-button class="open-button" (click)="loginByGoogle()"> <mat-icon>login</mat-icon> </button>
      }
    </mat-toolbar>
    <div class="container-fluid">
      @if(isDashboard()){
        <app-dashboard/>
        <div class="d-inline-block position-absolute" style="z-index: 1000;right: 100px;top: 100px;" cdkDrag>
          <app-date-picker [isYearOnly]="true" class="shadow-sm border is-year-only" [(selectedDate)]="selectedYear" />
        </div>
      }
      @else {
        <ng-container [ngTemplateOutlet]="dynamicListRef"></ng-container>
      }
    </div>
  </mat-drawer-container>
</ng-template>

<!-- prettier-ignore -->
<ng-template #loginPageRef>
  <mat-drawer-container autosize class="border shadow" style="background-color: #fef1f4" [hasBackdrop]="!fixedSideMenu" >
    <div class="w-100 h-100 flex-column d-flex align-items-center justify-content-center" >
      <h5>Welcome to</h5>
      <h4 class="mb-5">Dwarakamai Apartments</h4>
      <button mat-fab extended (click)="loginByGoogle()"> <mat-icon>vpn_key</mat-icon> Login with google </button>
    </div>
  </mat-drawer-container>
</ng-template>

<!-- prettier-ignore -->
<ng-template #waitingForAccessRef>
  <mat-drawer-container autosize class="border shadow" style="background-color: #fef1f4" [hasBackdrop]="!fixedSideMenu" >
    <div class="container-fluid" >
      <h5 class="mt-5 text-center">Welcome to</h5>
      <h4 class="mb-2 text-center">Dwarakamai Apartments</h4>
      <div class="text-center mb-2">
        <img class="rounded-circle shadow border mb-2"[src]="userDetails()?.user?.photoURL" alt="" width="70" height="70">
        <p class="m-0 p-0 border py-2">Full Name : {{userDetails()?.registration?.name}}</p>
        <p class="m-0 p-0 border border-top-0 border-bottom-0 py-2">Mobile : {{userDetails()?.registration?.mobile}}</p>
        <p class="m-0 p-0 border py-2">Email : {{userDetails()?.registration?.email}}</p>
      </div>
      <p class="m-0 p-0 mb-2 px-2" style="text-align: justify;"> 
        It looks like you've registered, but your access hasn't been granted yet. 
        Please contact Apartment Management to obtain access.
      </p>
      <div class="d-flex justify-content-between">
        <button mat-raised-button (click)="logout()">Logout</button>
        <button mat-raised-button (click)="unRegister()">Unregister</button>
      </div>
    </div>
  </mat-drawer-container>
</ng-template>

<!-- prettier-ignore -->
<ng-template #waitingForRegistrationRef>
  <mat-drawer-container autosize class="border shadow" style="background-color: #fef1f4" [hasBackdrop]="!fixedSideMenu" >
    <div class="container-fluid">
        <h5 class="mt-2 text-center">Welcome to</h5>
        <h4 class="mb-2 text-center">Dwarakamai Apartments</h4>
        <div class="text-center mb-2">
          <img class="rounded-circle shadow border mb-2"[src]="userDetails()?.user?.photoURL" alt="" width="70" height="70">
        </div>
        <p class="m-0 p-0 mb-2 px-2" style="text-align: justify;">
          Thank you for logging in with Google Authentication. 
          To gain access, please register with the Apartment App by completing the form below. 
          Once your registration is complete, contact Apartment Management for access.
        </p>
        <form #registrationForm="ngForm" class="row" autocomplete="off">
          <div class="col-md-12 py-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Full Name</mat-label>
              <input [name]="'name'" ngModel matInput  required/>
            </mat-form-field>
          </div>
          <div class="col-md-12 py-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Mobile Number</mat-label>
              <input type="tel" [name]="'mobile'" required ngModel matInput />
            </mat-form-field>
          </div>
          <div class="col-md-12 py-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <input type="email" email [name]="'email'" required [ngModel]="userDetails()?.user?.email" readonly matInput />
            </mat-form-field>
          </div>
          <input name="access" [ngModel]="'no'" type="hidden"/>
          <div class="d-flex justify-content-between">
            <button  mat-raised-button (click)="logout()">Logout</button>
            <button [disabled]="registrationForm.invalid" (click)="register(registrationForm)"  mat-raised-button>Register</button>
          </div>
        </form>
    </div>
  </mat-drawer-container>
</ng-template>

<!-- prettier-ignore -->
<ng-template #dynamicListRef>
  
  <ul class="list-group col-md-8 offset-md-3 mt-2 position-relative rounded-0">
    <li class="list-group-item p-3 border-0 rounded-0" style="background: #fef1f4">
      <ul class="list-group rounded-0" style=" height: calc(100dvh - 120px); overflow-y: auto; overflow-x: hidden; " >
        @for(item of activePage()?.items; track item.id; let ind = $index){
        <li class="list-group-item main-item d-flex justify-content-start align-items-center mb-2 rounded-0">
          <div class="col"> <span [innerHTML]="activePage()?.itemLabelCallBack(item)"></span> </div>
          @if(activePage()?.contentMenu?.showDeleteMenu || activePage()?.contentMenu?.showEditMenu || activePage()?.contentMenu?.otherMenus){
          <div class="position-absolute" style="top: calc(50% - 20.5px); right: 10px;">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" > <mat-icon>more_vert</mat-icon> </button>
            <mat-menu #menu="matMenu">
              @if(activePage()?.contentMenu?.otherMenus){
                <ng-container *ngFor=" let contentMenu of activePage()?.contentMenu?.otherMenus " >
                  <button mat-menu-item [disabled]="contentMenu.disabled(item)" (click)="contentMenu.callBack(item)" > <mat-icon>{{ contentMenu.icon }}</mat-icon> <span>{{ contentMenu.name }}</span> </button>
                </ng-container>
              }
            </mat-menu>
          </div>
          }
        </li>
        }
        @empty{
          <h6 class="text-muted text-center my-3"> No {{ activePage()?.name }} to Show </h6>
        }
      </ul>
    </li>
    @if(!activePage()?.hideAdd){
      <div class="d-inline-block position-absolute bottom-0 end-0" cdkDrag>
        <button mat-fab (click)="activePage()?.addCallBack()"> <mat-icon>add</mat-icon> </button>
      </div>
    }
    @if(activePage()?.id === 'payments'){
      <div class="d-inline-block position-absolute bottom-0 start-0" cdkDrag>
        <app-date-picker class="shadow-sm border" [(selectedDate)]="selectedDate" />
      </div>
    }
    @if(activePage()?.id === 'maintenances'){
      <div class="d-inline-block position-absolute bottom-0 start-0" cdkDrag>
        <app-date-picker [isYearOnly]="true" class="shadow-sm border is-year-only" [(selectedDate)]="selectedYear" />
      </div>
    }
  </ul>
</ng-template>
