<mat-form-field style="opacity: 0; width: 0; height: 0">
  <input matInput [matDatepicker]="picker" />
  <mat-datepicker
    touchUi
    #picker
    startView="multi-year"
    (yearSelected)="chosenYearHandler($event, picker)"
    (monthSelected)="chosenMonthHandler($event, picker)"
    panelClass="month-picker"
  ></mat-datepicker>
</mat-form-field>

<div class="block year">
  <div class="title">Year</div>
  <div class="value">{{ selectedDate() | date : "YY" }}</div>
</div>
<div class="block month" *ngIf="!isYearOnly()">
  <div class="title">Month</div>
  <div class="value">{{ selectedDate() | date : "MM" }}</div>
</div>
<!-- <div class="block day">
  <div class="title">Date</div>
  <div class="value">{{ selectedDate | date : "dd" }}</div>
</div> -->
