@use "@angular/material" as mat;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
  )
);

body {
  @include mat.all-component-themes($theme);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

.list-group {
  --bs-list-group-active-color: var(--bs-body-color);
  --bs-list-group-active-bg: #ff93a9;
  --bs-list-group-active-border-color: #ff93a9;
}
